body{
    background-color: black;
        height: 100vh; /* Atur ketinggian halaman agar melebihi tinggi layar */

}

.buttonNav{
    display: flex;
    justify-content: flex-end;
    margin-left: 65%;


}

.hr-blurry {
    border: none; /* Menghilangkan border default */
    height: 2px; /* Menentukan tinggi dari hr */
    background: white; /* Mengatur warna latar belakang menjadi putih */
    filter: blur(2px); /* Menambahkan efek blur */
    margin: 20px 0; /* Menambahkan margin untuk jarak vertikal */
  }


.img-container {
    display: flex; /* Mengubah kontainer menjadi flexbox */
    justify-content: space-between; /* Meletakkan elemen secara merata di sepanjang sumbu horizontal */
    align-items: top; /* Pusatkan elemen secara vertikal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: -1;
}

.bg-image {
    flex: 1; /* Menggunakan sebanyak mungkin ruang yang tersedia */
    height: 80vh;
    background-size: cover;
    background-position: center;
    filter: brightness(50%) blur(4px);
}


.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar{
    margin-top: 0;
    margin-left: 0;
}

.navbar-nav .nav-link {
    margin-right: 40px; /* Atur jarak antara setiap link di navbar */
}

.container-film {

    background-color: transparent;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    align-items: top;
    margin-top: 50%;
    width: 90%;
    height: 400vh;
    border-radius: 30px;
    overflow: hidden; /* Penting untuk menjaga elemen pseudo di dalam kontainer */
}

.container-film::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(1000);
    z-index: 1; /* Menempatkan elemen pseudo di belakang konten */
    border-radius: 30px;
}

.container-film > * {
    position: relative;
    z-index: 2; /* Menempatkan konten di depan elemen pseudo */
}

.row {
    justify-content: center; /* Ubah properti justify-content menjadi center */
}

.card {
    margin: 20px; /* Tambahkan margin kiri, kanan, atas, dan bawah sebesar 10px */
}


    /*panel*/
    .panel {
        border: none;
        box-shadow: none;
    }

    .panel-heading {
        border-color:#eff2f7 ;
        font-size: 16px;
        font-weight: 300;
    }

    .panel-title {
        color: #2A3542;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
    }


    .navt{
        margin-left: 4%;
    }

    /*product list*/

    .prod-cat li a{
        border-bottom: 1px dashed #d9d9d9;
    }

    .prod-cat li a {
        color: #3b3b3b;
    }

    .prod-cat li ul {
        margin-left: 30px;
    }

    .prod-cat li ul li a{
        border-bottom:none;
    }
    .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
        background: none;
        color: #ff7261;
    }

    .pro-lab{
        margin-right: 20px;
        font-weight: normal;
    }

    .pro-sort {
        padding-right: 20px;
        float: left;
    }

    .pro-page-list {
        margin: 5px 0 0 0;
    }

    .product-list img{
        width: 100%;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }

    .product-list .pro-img-box {
        position: relative;
    }
    .adtocart {
        background: #fc5959;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 3px solid #fff;
        left: 45%;
        bottom: -25px;
        position: absolute;
    }

    .adtocart i{
        color: #fff;
        font-size: 25px;
        line-height: 42px;
    }

    .pro-title {
        color: #5A5A5A;
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
    }

    .product-list .price {
        color:#fc5959 ;
        font-size: 15px;
    }

    .pro-img-details {
        margin-left: -15px;
    }

    .pro-img-details img {
        width: 100%;
    }

    .pro-d-title {
        font-size: 16px;
        margin-top: 0;
    }

    .product_meta {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
    }

    .product_meta span {
        display: block;
        margin-bottom: 10px;
    }
    .product_meta a, .pro-price{
        color:#fc5959 ;
    }

    .pro-price, .amount-old {
        font-size: 18px;
        padding: 0 10px;
    }

    .amount-old {
        text-decoration: line-through;
    }

    .quantity {
        width: 120px;
    }

    .pro-img-list {
        margin: 10px 0 0 -15px;
        width: 100%;
        display: inline-block;
    }

    .pro-img-list a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .pro-d-head {
        font-size: 18px;
        font-weight: 300;
    }

    .dropdown-menu.multi-column {
        columns: 3;
    }

footer{
    margin-top: 5%;
    background-color: whitesmoke;
    filter: brightness(50%) ;
}

.input-group{
    margin-left: 1%;
    width: 100px;
}
