body{
    background-color: black;
}

.buttonNav {
    display: flex;
    justify-content: flex-end;
    margin-left: 65%;
  }
  .gg-shopping-cart {
    color: black;
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1.5)); /* Memperbesar ukuran ikon dengan skala 1.5 */
    width: 30px; /* Memperbesar lebar ikon */
    height: 31px; /* Memperbesar tinggi ikon */
    background:
        linear-gradient(
            to left, currentColor 12px,
            transparent 0)
            no-repeat -1px 6px/28px 2px, /* Menyesuaikan lebar garis */
        linear-gradient(
            to left, currentColor 12px,
            transparent 0)
            no-repeat 6px 14px/21px 2px, /* Menyesuaikan lebar garis */
        linear-gradient(
            to left, currentColor 12px,
            transparent 0)
            no-repeat 0 2px/14px 2px, /* Menyesuaikan lebar garis */
        radial-gradient(
            circle, currentColor 60%,
            transparent 40%)
            no-repeat 12px 17px/8px 8px, /* Menyesuaikan ukuran bulatan */
        radial-gradient(
            circle, currentColor 60%,
            transparent 40%)
            no-repeat 6px 17px/8px 8px /* Menyesuaikan ukuran bulatan */
}
.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 3px; /* Menyesuaikan lebar garis */
    height: 24px; /* Menyesuaikan tinggi garis */
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}
.gg-shopping-cart::after {
    height: 20px; /* Menyesuaikan tinggi garis */
    top: 6px;
    left: 26px; /* Menyesuaikan posisi garis */
    transform: skew(-12deg)
}

.navbar {
    /* background-color: #e55d50; */
    position: absolute; /* Tambahkan properti position absolute */
    top: 0; /* Atur posisi navbar di bagian atas */
    margin-top: 2%;
    left: 0;
    width: 90%;
    margin-left: 7%;
    z-index: 999; /* Atur z-index lebih tinggi dari bg-image */
}

  .navbar-nav .nav-link {
    margin-right: 40px; /* Atur jarak antara setiap link di navbar */
  }

  .jumbotron{
    position: absolute;
    top: 40%;
    left: 15%;
    /* background-color: antiquewhite; */
    height: auto;
    width: 150vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .jumbotron h1{
    font-size: 5rem;
  }
