body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    /* background-color: aqua; */
    position: absolute; /* Tambahkan properti position absolute */
    top: 0; /* Atur posisi navbar di bagian atas */
    left: 0;
    width: 90%;
    margin-left: 7%;
    z-index: 999; /* Atur z-index lebih tinggi dari bg-image */
}

.navbar-nav .nav-link {
    margin-right: 40px; /* Atur jarak antara setiap link di navbar */
}

.container-trans {
    position: relative;
    /* background-color: chartreuse; */
    height: auto;
    width: 60%;
    margin-top: -20.5%;
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 3%;
}

.container-product {
    background-color: #444444;
    margin-top: 2%;
    height: 100px;
}

.container-title {
    height: 100px;
    background-color: #444444;
    /* border: 2px solid red; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.trans {
    background-color: #444444;
    height: 400px;
    width: 530px;
    margin-left: 70%;
    margin-top: 12%;
    border-radius: 5%;
}

.hr-blurry {
    border: none; /* Menghilangkan border default */
    height: 2px; /* Menentukan tinggi dari hr */
    background: white; /* Mengatur warna latar belakang menjadi putih */
    filter: blur(2px); /* Menambahkan efek blur */
    margin: 20px 0; /* Menambahkan margin untuk jarak vertikal */
}

.sectionfoot {
    /* background-color: aqua; */
}

.footer-wrapper {
    margin-top: auto; /* Membuat footer berada di bawah */
}

footer {
    width: 100%;
    background-color: black;
    filter: brightness(50%);
}
